version: 2
jobs:
  test:
    docker:
      - image: circleci/node:14
    working_directory: ~/repo
    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-npm-{{ checksum "package.json" }}
            - v1-dependencies-npm
      - run: npm install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-npm-{{ checksum "package.json" }}
      - run: npm test

  release:
    docker:
      - image: cimg/node:18.12.1
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-npm-{{ checksum "package.json" }}
            - v1-dependencies-npm
      - run: npm install
      - run: npx semantic-release

workflows:
  version: 2
  test_and_release:
    jobs:
      - test
      - release:
          requires:
            - test
          filters:
            branches:
              only:
                - master
