[ req ]
default_bits           = 1024
days                   = 3650
distinguished_name     = req_distinguished_name
attributes             = req_attributes
prompt                 = no
output_password        = password

[ req_distinguished_name ]
C                      = US
ST                     = CA
L                      = Oakland
O                      = request
OU                     = request@localhost
CN                     = TestClient
emailAddress           = do.not@email.me

[ req_attributes ]
challengePassword              = password challenge

